@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.btn {
  color: white;
  background: #303030;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  border: none;
  background: rgba(0, 0, 0, 1);
  background: #fff;
  padding: 20px 20px;
  color: #303030;
}

.nav {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-bottom: -4em;
}

.iconlogo {
  text-align: center;
  padding-bottom: 3em;
  height: 30%;
}

.left {
  float: left;
  margin: 0;
}

.right {
  float: right;
  margin: 0;
  padding: 0.5em;
  background-color: #4a4a4a;
  color: #fff;
  border: 2px solid #000000;
  font-size: 1.2em;
  border-radius: 0.1em;
}

.right:hover {
  background-color: black;
  color: #fff;
}

.topbar {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 50px;
  display: flex;
  flex-flow: wrap;
  font-family: "Ubuntu", sans-serif;
}

.social-container {
  width: 100%;
  margin: 4em 2em 2em;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(to right, rgb(49, 49, 49), rgb(8, 64, 148));
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00b5f5;
  background: linear-gradient(to right, rgb(49, 49, 49), rgb(8, 64, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.form {
  width: 600px;
  height: 360px;
  border-radius: 8px;
  box-shadow: 6px 6px 16px rgb(0, 31, 77);
  margin: auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.titlecontact {
  margin: 5px 0 15px 0;
  padding-bottom: 5px;
  width: 180px;
  color: #000;
  border-bottom: 3px solid #000;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #000;
}

input:focus {
  border-bottom: 2px solid #002a8f;
}

.sendbtn {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5em;
}

button:hover {
  background: black;
  color: #fff;
  border-radius: 0.5em;
}

.contact {
  position: absolute;
  bottom: -10px;
  left: -20px;
  background: linear-gradient(to right, rgb(49, 49, 49), rgb(8, 64, 148));
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

span {
  margin: 0 5px 0 15px;
}

@media screen and (max-width: 750px) {
  .nav {
    width: 100%;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 0.2em;
  }

  .nav {
    margin-bottom: -7em;
  }

  .left,
  .right {
    width: 100%;
    display: block;
  }

  .right {
    margin-top: 1em;
    padding: 0.2em;
  }

  .iconlogo {
    text-align: center;
    margin-top: 2em;
    height: 10%;
  }

  .options {
    margin-top: 5em;
  }

  .contact {
    width: 200px;
    text-align: center;
  }
}
