.btn {
  color: white;
  background: #303030;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  border: none;
  background: rgba(0, 0, 0, 1);
  background: #fff;
  padding: 20px 20px;
  color: #303030;
}

.nav {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-bottom: -7.5em;
}

.iconlogo {
  text-align: center;
  padding-bottom: 3em;
  height: 30%;
}

.left {
  float: left;
  margin: 0;
}

.right {
  float: right;
  margin: 0;
  padding: 0.5em;
  background-color: #4a4a4a;
  color: #fff;
  border: 2px solid #000000;
  font-size: 1.2em;
  border-radius: 0.1em;
}

.right:hover {
  background-color: black;
  color: #fff;
}

.topbar {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 50px;
  display: flex;
  flex-flow: wrap;
  font-family: "Ubuntu", sans-serif;
}

.title {
  letter-spacing: 3.5px;
  padding: 1em;
  border-radius: 1em;
  margin: 0;
}

.interest1,
.interest2,
.interest3,
.interest4,
.interest5 {
  text-align: center;
  padding: 1em;
  margin: 0.75em;
  font-weight: 50;
  letter-spacing: 3.5px;
  width: 200px;
  background-color: white;
}

.interest1 {
  border: 3px solid red;
  color: red;
}

.interest2 {
  border: 3px solid blue;
  color: blue;
}
.interest3 {
  border: 3px solid indigo;
  color: indigo;
}
.interest4 {
  border: 3px solid green;
  color: green;
}
.interest5 {
  border: 3px solid orange;
  color: orange;
}

.interest1:hover {
  background-color: red;
  color: #fff;
}

.interest2:hover {
  background-color: blue;
  color: #fff;
}
.interest3:hover {
  background-color: indigo;
  color: #fff;
}
.interest4:hover {
  background-color: green;
  color: #fff;
}
.interest5:hover {
  background-color: orange;
  color: #fff;
}

.end {
  background-color: #c2c2c2;
  border: 2px solid #c2c2c2;
  color: #000;
  border: 2px solid black;
  border-radius: 0.4em;
  font-weight: 600;
  padding: 1em;
  margin: 0.5em;
  text-align: center;
  letter-spacing: 1.5px;
  width: 150px;
}

.end:hover {
  background-color: #181818;
  color: white;
}

.line {
  width: 70%;
  text-align: center;
}

.options {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .nav {
    width: 100%;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 0.2em;
  }

  .nav {
    margin-bottom: 2em;
  }

  .left,
  .right {
    width: 100%;
    display: block;
  }

  .right {
    margin-top: 1em;
    padding: 0.2em;
  }

  .iconlogo {
    text-align: center;
    margin-top: 2em;
    height: 10%;
  }

  .options {
    margin-top: -10em;
  }
}
