* {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
}

.btn {
  color: white;
  background: #303030;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  border: none;
  background: rgba(0, 0, 0, 1);
  background: #fff;
  padding: 20px 20px;
  color: #303030;
}

.nav {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5em;
}

body {
  padding: 50px;
  display: flex;
  flex-flow: wrap;
  font-family: "Ubuntu", sans-serif;
}
