@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

/* #Primary
================================================== */

.hero-anime {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}
::selection {
  color: #fff;
  background-color: #8167a9;
}
::-moz-selection {
  color: #fff;
  background-color: #8167a9;
}

/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 black;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar {
  padding: 0;
}
.navbar-brand img {
  height: 28px;
  width: auto;
  display: block;
  filter: brightness(10%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}
.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}
.nav-item:hover .nav-link {
  color: #8167a9 !important;
}
.nav-item.active .nav-link {
  color: #777 !important;
}
.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #8167a9;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-item.active:hover:after {
  opacity: 0;
}
.nav-item {
  position: relative;
  transition: all 200ms linear;
}

.logout {
  border: none;
  background-color: #fff;
  border-bottom: 2px solid black;
}

.searching {
  text-align: center;
  width: 100%;
  margin-top: 10em;
}

.stocksearch {
  display: inline;
  width: 50%;
  border: 2px solid black;
  border-radius: 0.2em;
  padding: 1.2em;
  margin-bottom: 3em;
}

.search {
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid black;
  padding: 1.2em;
  letter-spacing: 2px;
}

.search:hover {
  background-color: rgb(173, 173, 173);
  color: rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
}
.btn1,
.btn2 {
  padding: 0;
  border: 2px solid black;
  margin: 0.4em;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: white;
}
.btn1 {
  background-color: rgb(169, 255, 226);
}

.btn1:hover {
  background-color: rgb(0, 255, 170);
}

.btn2:hover {
  background-color: rgb(255, 183, 0);
}

.overtable {
  text-align: center;
  padding: 2em;
  width: 100%;
}

tr,
th,
td {
  padding: 0.5em;
  border: none;
}

tr:nth-child(even) {
  background-color: #e4e4e4;
}

th {
  background-color: black;
  color: white;
}

#demo {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: scroll;
}
/* width */		
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll {
  display: block;
  border: 0px solid red;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
.searchBox {
  position: relative;
  width: 80%;
  height: 40px;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #444444;
  padding: auto;
  border-left-style: ridge;
  border-left-color: #fafafa;
  border-left-width: 7px;
  margin: 10px;
}
.searchBox:hover > .searchInput {
  width: 750px;
  padding: 0 6px;
  background: #444444;
  color: white;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
display: inline;
border-left: solid;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.searchInput {
  border:none;
  background: #444444;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.1s;
  line-height: 40px;
  width: 100px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}
.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
  display: inline;
  }
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
