.btn {
  color: white;
  background: #303030;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  border: none;
  background: rgba(0, 0, 0, 1);
  background: #fff;
  padding: 20px 20px;
  color: #303030;
}

.nav {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-bottom: -7em;
}

.iconlogo {
  text-align: center;
  padding-bottom: 3em;
  height: 30%;
}

body {
  padding: 50px;
  display: flex;
  flex-flow: wrap;
  font-family: "Ubuntu", sans-serif;
}

#demo {
  text-align: center;
  margin-top: 2em;
  width: 100%;
  border: none;
}

.displaydata {
  text-align: center;
  width: 100%;
}

tr,
th,
td {
  padding: 0.5em;
  border: none;
}

tr:nth-child(even) {
  background-color: #e4e4e4;
}

th {
  background-color: black;
  color: white;
}

.btn1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  padding: 1em;
  border: 2px solid black;
  margin: 0.4em;
  background-color: rgb(169, 255, 226);
  text-align: center;
}

.btn1:hover {
  background-color: rgb(0, 255, 170);
}
